@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#root{
    --white: #fff;
    --green: #03B303;
    --yellow: #EAAA00;
}

*{
  font-family: 'Quicksand';
}

.GrainMart{
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
}