.Logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoBrand{
    color: var(--white);
    font-size: 22px;
    font-weight: bolder;
    margin-right: 5px;
}

.LogoBrand span{
    color: var(--yellow);
}

.LogoIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 28px;
}