.Categories{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px 0px #777;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.Categories::-webkit-scrollbar{
    display: none;
}

.EachCategoryItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: #000;
    color: #000;
}

.EachCategoryItem:active {
    text-decoration: none;
}

.SubCategoryOverlayWrap{
    display: none;
    position: absolute;
    top: calc(100% - 5px);
    z-index: 9;
    transform: translateX(-50px);
}

.EachCategoryItem:hover .SubCategoryOverlayWrap{
    display: block;
}

.EachCategoryItem img{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center center;
}

.EachCategoryItem p{
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-decoration-color: #000;
}